@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.5rem;
    z-index: 50;
    min-width: 12rem;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
    display: block;
}

@media (max-width: 768px) {
    .mobile-menu-enter {
        opacity: 0;
        transform: scale(0.95);
    }

    .mobile-menu-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity 100ms ease-out, transform 100ms ease-out;
    }

    .mobile-menu-exit {
        opacity: 1;
        transform: scale(1);
    }

    .mobile-menu-exit-active {
        opacity: 0;
        transform: scale(0.95);
        transition: opacity 75ms ease-in, transform 75ms ease-in;
    }
}
